$white: #FFFFFF;
$light-copy: rgb(146, 146, 146);
$light-bgrd: rgb(243, 243, 243);
$copy-dk: #e9e9e9;
$red: rgba(238, 28, 37, 0.83);
$slate: #4A4A4A;


#child-projects {
    background: $light-bgrd;
    padding: 5.5rem 0;
    .child-projects-wrapper {
        width: 80%;
        padding-bottom: 4.5rem;
        margin: 0 auto;
    }
    .copy-wrapper {
        padding-bottom: 3.4rem;
        p {
            margin-bottom: 1.2rem;
          }
        }

    .child-project-cards {
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 769px) {
        .child-projects-wrapper {
            width: 65%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .copy-wrapper {
            margin: 0 auto;
            max-width: 70%;
        }
        .child-project-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 auto;
        }
    }

    @media screen and (min-width: 1440px) {
        .child-project-cards {
          max-width: 1250px;
        }
    }
}


#child-services {
  background: $light-bgrd;
  padding: 5.5rem 0;
  .child-services-wrapper {
    width: 80%;
    padding-bottom: 3rem;
    margin: 0 auto;

  }
  .copy-wrapper {
    padding-bottom: 3.4rem;
    p {
        margin-bottom: 1.2rem;
      }
    }
  .child-services-cards {
    .service-row {
        display: flex;
        flex-direction: column;
    }
  }
  .close-statement {
      margin-top: 5.5rem;
      margin-bottom: 1.5rem;
      max-width: 75%;
  }

  @media screen and (min-width: 769px) {
      .child-services-wrapper {
          width: 65%;
          margin: 0 auto;
      }
      .copy-wrapper {
          margin: 0 auto;
          max-width: 70%;
      }
      .child-services-cards {
        .service-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
  }
}

  @media screen and (min-width: 1440px) {
      .child-services-wrapper {
        max-width: 950px;
      }
  }
}

#child-contact {
    .contact-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5.5rem 0 1.65rem 0;
        .contact-details {
            margin: 1rem 1rem 2.65rem 1rem;
            h3 {
                color: $red;
                margin-bottom: 0.15rem;
            }
            p {
                line-height: 1.75;
                font-size: 1.15rem;
            }
            .spacer-btm {
                margin-bottom: 0.85rem;
            }
            a {
                color: $light-copy;
                display: inline-block;
                text-decoration: none;
                border-bottom: 1px dotted $light-copy;
                padding-bottom: 0.15rem;
                font-size: 1.15rem;
                margin-top: 0.65rem !important;
            }
            a:hover {
                color: $slate;
                border-bottom: 1px dotted $slate;

            }
        }
        .form-container {
            margin: 0 auto;
            width: 95%;
            .submit-btn {
                margin-top: 3.2em !important;
                border-radius: 3px;
                padding: 1rem 2.2rem;
                margin-top: 0.3em;
                color: $slate;
                background-color: transparent;
                border: 1px solid $slate;
                text-transform: uppercase;
                letter-spacing: 2px;
                transition: .2s ease-in-out;
                }
            .submit-btn:hover {
                padding: 1rem 2.6rem;
                color: $white;
                background-color: $red;
                border: 1px solid $red;
                }
            .submit-btn:focus {
                outline:0;
                }
            }
            .form-row-one,
            .form-row-two,
            .form-row-three {
                display: flex;
                flex-flow: wrap;
                flex-direction: row;
                .form-name {
                    flex: 1 0 90%;
                    font-size: 1.15rem;
                    font-weight: 300;
                    color: $slate;
                    }
                .form-email {
                    flex: 1 0 90%;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $slate;
                    }
                .form-phone {
                    flex: 1 0 90%;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $slate;
                    }
                .form-subject {
                    flex: 1 0 90%;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $slate;
                    }
                .form-msg {
                    flex: 1 0 90%;
                    font-size: 1rem;
                    font-weight: 300;
                    color: $slate;
                    }
                .f-control {
                    padding: 8px 4px;
                    margin: .4em .6em;
                    }
                /* handle border and placeholder styles */
                input {
                    outline: none;
                    border-top: transparent;
                    border-right: transparent;
                    border-bottom: 1px solid rgb(238, 238, 238) !important;
                    border-left: transparent;
                    transition: all .4s ease-in-out;
                    }
                input::-webkit-input-placeholder {
                    color: rgb(146, 146, 146);
                    }
                input::-moz-placeholder {
                    color: rgb(146, 146, 146);
                    }
                input:-ms-input-placeholder {
                    color:rgb(146, 146, 146);
                    }
                input:-moz-placeholder {
                    color: rgb(146, 146, 146);
                    }
                input:focus {
                    border-bottom: 1px solid #444 !important;
                    }
                textarea {
                    border-bottom: 1px solid rgb(238, 238, 238) !important;
                    border: none;
                    background-color: transparent;
                    resize: none;
                    outline: none;
                    border-top: transparent;
                    border-right: transparent;
                    border-left: transparent;
                    overflow: hidden;
                    word-wrap: break-word;
                    border-bottom-style: inset;
                    transition: all .4s ease-in-out;
                    }
                textarea:focus {
                    border-bottom: 1px solid #444 !important;
                    }
                textarea::-webkit-input-placeholder {
                    color: rgb(146, 146, 146);
                    }
                
                textarea::-moz-placeholder {
                    color: rgb(146, 146, 146);
                    }
                
                textarea:-ms-input-placeholder {
                    color:rgb(146, 146, 146);
                    }
                
                textarea:-moz-placeholder {
                    color: rgb(146, 146, 146);
                    }
        }
  
}

    .contact-map {
            margin-top: 5.5rem;
        }

            @media screen and (min-width: 769px) {
                .contact-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    max-width: 1250px;
                    margin: 0 auto;
                    padding: 5.5rem 2rem 1.65rem 2rem;
                    .contact-details {
                        flex: 1 0 20%;
                        margin-right: 2rem;
                    }
                    .form-container {
                        flex: 1 0 70%;
                        padding: 0 3rem;
                        .form-name {
                            flex: 1 0 30%;
                            }
                        .form-email {
                            flex: 1 0 30%;
                            }
                    }
                }
            }
}

#child-about {
    background: $light-bgrd;
    .copy-wrapper {
        padding: 5.5rem 0 4rem 0;
        p {
            margin-bottom: 1.2rem;
          }
        }
}

@media screen and (min-width: 769px) {
    #child-about {
        .copy-wrapper {
            margin: 0 auto;
            max-width: 60%;
        }
    }
}



