$red: rgba(238, 28, 37, 0.83);
$light-bgrd: rgb(243, 243, 243);

#intro {
    background: $light-bgrd;
    padding: 5.5rem 0;
}

.intro-wrapper {
    padding: 0 1.5rem 5.5rem 1.5rem;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
}

    @media screen and (min-width: 550px) {
        .intro-wrapper {
            max-width: 68.5%;
            margin: 0 auto;
        }
    }

    @media screen and (min-width: 769px) {
        .intro-wrapper {
            max-width: 650px;
            margin: 0 auto;
        }
    }

    @media screen and (min-width: 1440px) {
        .intro-wrapper {
            max-width: 800px;
            margin: 0 auto;
        }
        .card-wrapper {
            max-width: 1270px;
            margin: 0 auto;
        }
    }