$white: #FFFFFF;
$nav-grey: #d6d6d6;
$slate: #4A4A4A;
$red: #f16059;

.mob-nav {
    height: 80vh;
    width: 100%;
    background: $white;
    position: absolute;
    margin: 0;
    ul {
        list-style: none;
        color: $white;
        font-size: 1rem;
        text-align: left;
        padding: 1.5rem 5.5rem 2.5rem 5.5rem;
    }
    ul li {
        padding: 2.65rem 0;
        border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
    }
    p {
        display: inline;
        color: $slate;
        margin-left: 0.65rem;
    }
    .mob-link {
        text-decoration: none;
        color: $slate;
        transition: 0.45s;
    }
    .mob-link:hover {
        margin-left: 0.65rem;
        color: $red;
    }
}

.nav-container {
    color: white;
    font-size: 2rem;
    padding: 1.65rem 1.85rem;
    //Remove active from logo 
    #home {
        padding-bottom: none;
        border-bottom: none;
    }
    nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        .active {
            color: $white;
            padding-bottom: 0.3rem;
            border-bottom: 0.5px solid $white;
        }
        ul {
            display: none;
        }
        a {
        font-size: 0.95rem;
        color: $white;
        text-decoration: none;
        border-radius: 2px;
        padding-bottom: 0.3rem;
        transition: width 0.75s;
        }
        a:hover {
            border-bottom: 0.75px solid $white;
            }
        }  
    }

        @media screen and (min-width: 769px) {
            .mob-nav {
                display: none;
            }
            
            .nav-container {
                padding: 0 1.85rem;
                nav {
                    img {
                    width: 120px;
                    height: 46px;
                    }
                    #hamburger {
                        display: none;
                    }
                    ul {
                        display: block;
                        margin-top: 15px;
                    }
                    ul li {
                        display: inline;
                        margin: 0 1.2rem;
                    }
                    a {
                    font-size: 0.85rem;
                    font-weight: 700;
                    }
                }
            }
        }