$white: #FFFFFF;
$slate: #4A4A4A;
$card-border: rgba(131, 131, 131, 0.384);
$icon-bgrd: #F1F0F0;
$red: rgba(238, 28, 37, 0.83);
$light-bgrd: #FAFAFA;
$card-light: #808080;

    .services {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 245px;
        text-align: left;
        padding: 2.35rem 1.5rem 0.85rem 1.5rem;
        margin-bottom: 2.7rem;
        text-align: left;
        text-decoration: none;
        border-radius: 3px;
        box-shadow: 14px 14px 12px -8px #D8D8D8;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        transition: all .5s;
        h3 {
            font-size: 1.15rem;
            margin: 1.25rem 0 0 1rem;
            color: $white;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            transition: all .5s;
        }
        p {
            font-size: 35px;
            margin: 0 0 0 1rem;
            color: $red;
            font-weight: bolder;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            transition: all 0.2s;
            z-index: 5;

        }

        @media screen and (min-width: 550px) {
        }

        @media screen and (min-width: 769px) {
                width: 31%;
            }
        }

    .services-hi {
        background: url(../assets/hiab-bgrd.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .services-ss {
        background: url(../assets/ss-thumb.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .services-as {
        background: url(../assets/as-thumb.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .services-sf {
        background: url(../assets/sf-thumb.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .services-ge {
        background: url(../assets/ge-thumb.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .services-3d {
        background: url(../assets/3d-bgrd.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .services:hover {
        background: $red;
        box-shadow: 17px 14px 12px -13px #D8D8D8;
        h3 {
            color: $white;
        }
        p {
            color: $white;
            margin-left: 32px;
        }
    }

    .services-child {
        height: 100%;
        min-height: 290px;
        text-align: left;
        padding: 2.35rem 1.5rem 1.5rem 1.5rem;
        margin-bottom: 3.95rem;
        text-align: center;
        text-decoration: none;
        background: $white;
        border-radius: 3px;
        box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        transition: all .5s;
        img {
            max-width: 190px;
            max-height: 112.5px;
            display: block;
            padding-top: 4px;
            margin-top: -72px;
            margin-left: auto;
            margin-right: auto;
            }
        h3 {
            font-size: 1.15rem;
            margin: 1.95rem 0 1.25rem 0rem;
            color: $red;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            transition: all .5s;
        }
        p {
            font-size: 0.95rem;
            margin: 0 0 1rem 0rem;
            color: $card-light;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            transition: all 0.2s;
        }
}
      

      @media screen and (min-width: 550px) {
      }

      @media screen and (min-width: 769px) {
        .services-child {
          width: 42%;
          margin: 2.35rem 0.65rem;
        }
      }

      @media screen and (min-width: 1350px) {
        .services-child {
          width: 38%;
        }
      }



    .services-child:hover {
        box-shadow: 2px 4px 8px -1px rgba(46,61,73,.2);
        h3 {
        }
        p {
            color: $slate;
        }
    }
