$white: #FFFFFF;
$slate: #4A4A4A;
$icon-bgrd: #F1F0F0;
$red: rgba(238, 28, 37, 0.83);
$light-bgrd: #FAFAFA;
$card-light: #808080;

    .services {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 245px;
        text-align: left;
        padding: 2.35rem 1.5rem 1.5rem 1.5rem;
        margin-bottom: 1.7rem;
        text-align: left;
        text-decoration: none;
        background: $light-bgrd;
        border-radius: 3px;
        box-shadow: 17px 14px 12px -13px #D8D8D8;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        transition: all .5s;
        .services-icon {
          background: $icon-bgrd;
          margin-left: 1rem;
          width: 65px;
          height: 65px;
          border-radius: 50%;
          text-align: center;
          display: inline-block;
          padding: 10px;
          img {
            max-width: 40px;
            max-height: 40px;
            display: block;
            padding-top: 4px;
            margin: 0 auto;
          }
        }
        h3 {
            font-size: 1.15rem;
            margin: 1.25rem 0 0 1rem;
            color: $slate;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            transition: all .5s;
        }
        p {
            font-size: 35px;
            margin-left: 1rem;
            color: $red;
            font-weight: bolder;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            transition: all 0.2s;
        }

        @media screen and (min-width: 550px) {
        }

        @media screen and (min-width: 769px) {
                width: 31%;
            }
        }

    .services:hover {
        background: $red;
        box-shadow: 17px 14px 12px -13px #D8D8D8;
        h3 {
            color: $white;
        }
        p {
            color: $white;
            margin-left: 32px;
        }
    }

    .services-child {
        height: 100%;
        text-align: left;
        padding: 2.35rem 1.5rem 1.5rem 1.5rem;
        margin-bottom: 1.5rem;
        text-align: left;
        text-decoration: none;
        background: $light-bgrd;
        border-radius: 3px;
        box-shadow: 17px 14px 12px -13px #D8D8D8;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        transition: all .5s;
        .services-icon-child {
        background: $icon-bgrd;
        margin-left: 1rem;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        padding: 10px;
        img {
          max-width: 40px;
          max-height: 40px;
          display: block;
          padding-top: 4px;
          margin: 0 auto;
          }
        }
        h3 {
            font-size: 1.15rem;
            margin: 1.25rem 0 1.25rem 1rem;
            color: $red;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            transition: all .5s;
        }
        p {
            font-size: 0.95rem;
            margin: 0 0 1rem 1rem;
            color: $card-light;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            transition: all 0.2s;
        }
      }

      @media screen and (min-width: 550px) {
      }

      @media screen and (min-width: 769px) {
        .services-child {
          width: 40%;
          margin: 0.65rem 0.65rem;
        }
      }



    .services-child:hover {
        box-shadow: 17px 14px 12px -13px rgba(0,0,0,0.6);
        h3 {
        }
        p {
            color: $slate;
        }
    }
