@import url("https://use.typekit.net/hcm6kuw.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// color variables 
$white: #FFFFFF;
$red: rgba(238, 28, 37, 0.83);
$slate: #4A4A4A;

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h1,
h3,
span {
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  text-align: center;
  font-size: 100px;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.sub-title {
  color: $slate;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.85rem !important;
  line-height: 1.4;
  font-weight: 600;
  margin: 0;
}

.statement {
  font-size: 1.05rem;
  line-height: 1.25;
  margin: 0.65rem 0 0 0;
}

@media screen and (min-width: 600px) {
  .sub-title {
    font-size: 2.2em;
    margin-bottom: 0;
  }
}